# ==================================
# Data and Results
# ==================================
# 忽略所有 MATLAB 数据文件
*.mat
*.png
*.bmp
*.gsq

# 忽略所有数据文件夹中的内容
# 假设你的原始数据和处理后数据分别在 data/raw 和 data/processed
/data/
/results/
/sti/

# ==================================
# MATLAB specific
# ==================================
# 忽略 MATLAB 崩溃日志
*.log
matlab_crash_dump.*

# 忽略 MATLAB 自动备份文件
*.asv
*~

# 忽略 MATLAB Figure 文件
*.fig

# ==================================
# OS specific
# ==================================
# 忽略 Mac 系统文件
.DS_Store

# 忽略 Windows 系统文件
Thumbs.db

# ==================================
# IDE/Editor specific
# ==================================
# 忽略 VS Code 设置
.vscode/